#confirm
  width 6.4rem
  background-color #fff
  overflow hidden

  .container
    $box()
    display flex
    flex-direction column
    padding 16px
    min-height 80px

  .title
    margin auto
    font-size 14px
    font-weight bold
    color #555
    line-height 1.8
    word-break break-all

  .message
    margin auto
    font-size 14px
    color #777
    line-height 1.8
    word-break break-all

  .toolkit
    border-top 1px solid #eee

  .btn-toolkit
    display inline-block
    width 50%
    height 48px
    line-height @height
    background none
    color #bbb
    font-size 12px
    cursor pointer

    &:last-of-type
      color #777

      &:first-of-type
        width 100%

    &:active
      background-color rgba(#000, 0.02)