#confirm(:class = '`theme-${theme}`')

  .container
    .title(v-if = 'title') {{title}}
    .message
      p(v-for = 'msg in message') {{msg}}

  .toolkit
    .btn-toolkit(
      v-if = 'no'
      @click = 'submit(false)'
    ) {{no}}
    .btn-toolkit(
      v-if = 'yes'
      @click = 'submit(true)'
    ) {{yes}}