transition(name = 'fade')

  #mask(
    v-if = 'isVisible'
    :class = '`theme-${theme}`'
    @click = 'click'
  )

    x-alert(
      v-if = 'id === "alert"'
      inject = 'global/alert'
    )

    x-confirm(
      v-else-if = 'id === "confirm"'
      inject = 'global/confirm'
    )

    x-menu(
      v-else-if = 'id === "menu"'
      inject = 'global/menu'
    )

    slot