#menu(
  :class = '`theme-${mask.theme}`'
  :style = 'style'
)

  scrollable.container(inject = 'global/scrollable')

    .item(
      v-for = 'item in list'
      :class = '{"is-marked": item.isMarked}'
      @click = 'submit(item.value)'
    ) {{item.key}}
  
  .toolkit
    .btn-toolkit(@click = 'close()') {{mask.no}}