transition(name = 'slide-down')

  #prompt(v-if = 'isVisible')

    .container

      .message(v-if = 'message') {{message}}
      
      input.no-bscroll(
        ref = 'ipt'
        type = 'text'
        v-model.lazy = 'value'
        @keypress.enter.stop = 'submit(value)'
      )

    .toolkit
      .btn-toolkit(@click = 'close()') 取消
      .btn-toolkit(@click = 'submit(value)') 确认