.scrollable(:class = '`theme-${theme}`')

  .container-scrollable(
    ref = 'container'
    @scroll = 'atScroll'
    @touchstart = 'atScrollStart'
    @touchmove = 'atScroll'
  )
    slot

  .scrollbar-scrollable
    .scroller-scrollable(:style = 'style')