@import '~nib/index.styl'

vendors = official

/* reset display
no more display: block
no more!
*/
display()
  display arguments

@import '~@/include/fn'
@import '~@/include/time-function'
// @import '~@/include/animation'