#comment
  $box()
  width 100%
  background-color #fff
  text-align left
  margin 0 auto
  padding 0 0.2rem 0.2rem
  border-radius 0.2rem 0.2rem 0 0
  overflow hidden

  &:empty
    display none

  .bb-comment
    .comment-list
      .list-item
        .user
          margin-right auto

  .opera-list
    background-color #fff
    z-index 9

  .comment-emoji, .baffle
    z-index 0

.comment-bilibili-mask
  background-color rgba(#000, 0.8) !important

.comment-bilibili-con
  .con
    text-align left