#float-address(v-if = 'isReady')

  template(v-if = 'mode === "address"')

    p.title 编辑收件地址

    .item-input
      p.msg 姓名
      input(
        v-model = 'addr.name'
        placeholder = '姓名长度应在1至8个字符之间'
      )

    .item-input
      p.msg 手机号码（仅支持中国大陆地区）
      input(
        v-model = 'addr.tel'
        placeholder = '手机号码长度应为11位'
      )

    .item-input
      p.msg 详细地址（仅支持中国大陆地区）
      input(
        v-model = 'addr.detail'
        placeholder = '详细地址长度应在5至50个字符之间'
      )

    #btn-back-address.btn(@click = 'back()') 取消
    #btn-submit-address.btn(@click = 'submit_()') 保存

  template(v-if = 'mode === "list"')

    p.title 我的奖品

    x-scrollable(
      v-if = 'list.length'
      inject = 'global/scrollable'
    )
      .item(
        v-for = 'item in list'
      )
        p.name {{item.name}}
        p.time 获取于{{item.time}}
    p.placeholder(v-else) 尚未获得任何奖品

    #btn-toggle-address.btn(
      :class = '{"is-disabled": !isReal, "is-required": isReal && !addr.name}'
      @click = 'mode = "address"'
    ) 编辑收件地址