#float-batch-buy(v-if = 'isReady')

  template(v-if = 'title')
    p.msg
      | 你已阅读到
      span {{title}}
    p.msg (购买不含本话，仅包含未付费章节)
  template('v-else')
    p.msg 你还未阅读本漫画
    p.msg (购买仅包含未付费章节)
  p.msg 确认批量购买
  
  #group-batch-buy
    .item(
      v-for = 'item, i in list'
      :class = '{"is-selected": i === selected}'
      @click = 'selected = i'
    )
      | {{i === list.length - 1 ? `剩余${item.rest}话` : `后${item.rest}话`}}
      span(v-if = 'item.discount < 100') {{item.discount * 0.1}}折
  
  p.msg 已有{{coin}}漫币
  #btn-recharge-batch-buy.btn(@click = 'recharge()') 前往充值>>

  p.msg(v-if = 'current')
    b {{current.cost[0]}}漫币
    | ={{(current.cost[0] * 0.01).toFixed(2)}}元
    span(v-if = 'current.cost[1] !== current.cost[0]') 原价{{current.cost[1]}}漫币

  #btn-submit-batch-buy.btn(@click = 'submit_()') 确认购买
  p.msg ※本次购买仅可使用漫币，无法使用任何卡券